@import url("https://fonts.googleapis.com/css?family=Nunito");

/*  Global  */
* {
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
section {
  overflow-x: hidden;
}

/*  Header */

header {
  background: #101625;
}

header a {
  font-size: 1em;
  color: #85ff34;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  font-size: 1.6em;
  padding-left: 8rem;
}

header .navbar-brand:hover {
  color: rgb(243, 243, 243);
}

header .nav-link:hover {
  color: rgb(243, 243, 243);
}

header .row .landing-page {
  padding: 16vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row {
  padding: 3vmin 1vmin;
}

header .container .landing-page h2 {
  padding: 0.5vmin;
  letter-spacing: 4px;
}

header .container .landing-page h1 {
  font-size: 12vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .landing-page p {
  padding: 1vmin;
  padding-bottom: 1vmin;
}

header .scroll-down {
  background-color: none !important;
  border: none !important;
}

header .scroll-down i:hover {
  color: #ffffff !important;
}

/* About */

.about {
  padding: 5vmin 0vmin;
}

.about .row .col-md-12 .panel {
  top: 5vmin;
  left: -18vmin;
  background: #ffffff;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 10vmin 15vmin 10vmin;
  box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.about .row .col-md-12 .panel h1 {
  font-weight: bold;
  padding: 0.2em 0;
  font-size: 2em;
}

.about .row .col-md-12 .panel h3 {
  font-weight: normal;
  padding: 0.4em 0;
  font-size: 1.5em;
}

.about .row .col-md-12 .panel p {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.678);
}

.about .progress-bar {
  background-color: #60e00b;
}

.about .progress-bar::-moz-progress-bar {
  background-color: #60e00b;
}

.about .center {
  text-align: center;
  margin: auto !important;
  padding-bottom: 2vmin;
}

.about .center img {
  border: 0.9vmin solid #eeeeee;
}

/* Portfolio */

section .portfolio {
  background-color: #75dd26 !important;
}

.portfolio>h1 {
  padding-top: 6vmin;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.portfolio .cards .card {
  width: 22rem;
  margin: 6vmin 2vmin;
}

.card {
  border: none !important;
  box-shadow: 0px 3px 5px rgba(59, 43, 43, 0.1);
}

.card-portfolio button {
  border: none !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.card .card-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0.5));
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.card .card-text h4 {
  text-align: left;
  padding-left: 3vmin;
  padding-top: 26vmin;
}

.card-portfolio {
  height: 30vmin;
  overflow: hidden;
}

.card-portfolio:hover .card-text {
  visibility: visible;
  opacity: 1;
}

.card-portfolio .card-img-top {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  outline: none;
}

/* Modal */
.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;

}

.ReactModal__Overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ReactModal__Content {
  background: rgba(0, 0, 0, 0) !important;
  outline: none;
  border: none !important;
  width: 70rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 1rem);
  overflow-y: hidden;
  position: relative;
  -ms-overflow-style: none !important;
}

.ReactModal__Content::-webkit-scrollbar {
  display: none !important;
}

.ReactModal__Content h2 {
  padding-bottom: 1vmin !important;
  font-weight: bold;
  color: #ffffff !important;
}

.ReactModal__Content img {
  width: 99%;
}

.ReactModal__Content .closeModal {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 3vmin;
  position: absolute;
  right: -1px;
}

.ReactModal__Content .closeModal:focus {
  outline: none;
}

/* Contact Form */

.input-group {
  padding-bottom: 1rem;
}

/*  Footer */
footer {
  background: #ffffff;
  overflow-x: hidden;
  padding: 10vmin 16vmin 1vmin;
}

footer a>span {
  color: #60e00b;
}

a:hover {
  text-decoration: none;
}

footer input {
  border: 2px solid #c7c7c7 !important;
}

footer input::placeholder {
  color: rgb(187, 187, 187) !important;
}

footer .txt-area {
  border: 2px solid #c7c7c7 !important;
  resize: none;
}

footer .txt-area::placeholder {
  color: rgb(187, 187, 187) !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #60e00b;
  padding-right: 15px;
}

footer .contactform {
  padding-bottom: 2em;
}

footer .copyright {
  margin-top: 3vmin;
  color: #60e00b !important;
}

/* It is Adjacent sibling combinator */

footer .column i+i {
  padding: 0 0.5em;
}

footer .text-color {
  color: #60e00b;
}

footer .btn-contact {
  color: #ffffff;
  background-color: #6c757d;
  border-radius: 4em;
  border: none !important;
}

footer .btn-contact:hover {
  color: #ffffff;
  background-color: #52585e;
  border-radius: 5em;
  border: none !important;
}

footer .info {
  padding-bottom: 8vmin !important;
}

/* Active */
.active a {
  color: #fff !important;
  border-bottom: 4px solid #fff !important;
}

/*  Animation */

/* Frontpage Fade In */
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Navbar Fade In Down*/
.fadeInDown {
  opacity: 0;
  animation: fadeInDown ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/* Sticky Navigation + Dropdown Animation */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #101625;
  z-index: 9999;
  opacity: 0;
  animation: fadeDown ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: .8vmin;
}

::-webkit-scrollbar-track {
  box-shadow: none !important;
  border-radius: 2vmin;
}

::-webkit-scrollbar-thumb {
  background-color: #60e00b;
  border-radius: 1vmin;
}

::-webkit-scrollbar-thumb:hover {
  background: #5fd80f;
}


/* Mobile view */

@media screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  .about .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}